#main{
    height:100vh;
}

body{
    background-image: url(../images/LoginBg.jpg);
    background-size: cover;
    height:100vh;
}

.loginSec{
    height:100vh;
}

@media (max-width:768px){
    #Login, #createAcc{
        width:80%;
    }
}